<style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

</style>

<div class="content" role="main">
  <button (click)="next()"> 
      <span>{{question.toUpperCase() + " " + points}}</span>
  </button>
  <label>{{previousAnswer}}</label>
  <button (click)="remember()"> 
      <span>{{recognizedWord}}</span>
  </button>
  <button (click)="reset()"> 
      <span>RESET</span>
  </button>
  <input placeholder="Sequnce" value="{{sequence}}" (change)="sequence=seq.value" #seq>
  <input placeholder="Volume" value="{{volume}}" (change)="volume=vol.value" #vol>
  <input placeholder="Volume" value="{{recognitionDelay}}" (change)="recognitionDelay=del.value" #del>
  
</div>
<router-outlet></router-outlet>